body{
  margin: 0;
  padding: 0;
  font-family: 'Parisienne', cursive, Arial, sans-serif;
  font-size: 2em;
  width:100%;
  height:100vh;
  background: url("../images/flower3.jpg") center center no-repeat;
  overflow: hidden;
}

.block {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(45, 40, 62, 0.8);
  z-index: 2;
}

h1 {
  color: #d1d7e0;
  text-shadow: 2px 2px 4px #000000;
}

ul, li{
  list-style: none;
  display: inline;
  text-shadow: 2px 2px 4px #000000;
}

p {
  color: #D6D6D6;
  font-size: 1.4em;
}

i {
  font-size: 60px;
  color: #5ab9ea;
  padding-left: 20px;
}

.container {
  margin: auto;
}

/* NAVBAR */

#navbar {
  padding-right: 19px;
}

#navbar li{
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a{
  text-decoration: none;
  color: #D6D6D6;
}

#navbar li.current a, #navbar a:hover{
  color: #5ab9ea;
  border-bottom: 3px solid #5ab9ea;
  padding-bottom: 1px;
}

@media(max-width:800px){
  p{
    font-size:1.1em;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.t-border {
  top-border: #D6D6D6 3px solid;
}
